<configuration>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 日志级别设置 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- 单独设置某些包的日志级别 -->
    <logger name="io.netty" level="DEBUG" />
    <logger name="com.ws.rpc" level="DEBUG" />
</configuration>